* {
	background-color: #000A61; /* deep blue */
	color: white;
	font-family: sans-serif;
}

div {
	display: flex;
	border: 1px solid grey;
}

button {
	border: 4px solid #CCCCCC;
	color: #CCCCCC;
	width: 150px;
	font-family: Monaco;
	font-size: 1.2em;
	text-transform: upperCase;
}

button.type1:hover { /* the cyan lights */
	box-shadow: 0px 0px 50px #00E5DE,
	0px 0px 50px #00E5DE inset;
	border: 4px solid #7EFFFB;
	color: #7EFFFB;
}

button.type2:hover { /* the purple lights */
	box-shadow: 0px 0px 50px #C177FF,
	0px 0px 50px #C177FF inset;
	border: 4px solid #D8A9FF;
	color: #D8A9FF;
}

table {
	display: flex;
}

table TR {
	/* make them wider */
	width: 80%;
}

table TD { /* change this to fit whole page */
	width: 100px;
	height: 100px;
	border: 1px solid grey;
}

table.writing {
	display: flex;
	border: 1px solid grey;
	width: 100%;
	justify-content: center;
}

table.writing TD {
	width: 50%;
}

table.software TD {
	padding: 15px;
}

.art-row {
	display: flex;
	justify-content: center;
}

.art-elt {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h4 {
	text-align: center;
}

.homepage-banner {
	height: 400px; /* cool image in your face */
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-page { /* for everything below the navigation bar */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc {
	flex-direction: column;
	justify-content: flex-start;
}

.navigation {
	height: 80px;
	justify-content: space-around;
}

.intro {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
}

.about-me {
	flex-direction: column;
	padding: 15px;
	/*width: 70%;*/
}

.contact-me {
	flex-direction: column;
	width: 30%;
	align-items: center;
}
