* {
	background-color: #241C3C; /* deep purple */
	color: white;
	font-family: sans-serif;
}

div {
	display: flex;
}

button {
	border: 4px solid #CCCCCC;
	color: #CCCCCC;
	width: 150px;
	font-family: Monaco;
	font-size: 1.2em;
	text-transform: upperCase;
}

button.type1:hover { /* the cyan lights */
	box-shadow: 0px 0px 50px #00E5DE,
	0px 0px 50px #00E5DE inset;
	border: 4px solid #7EFFFB;
	color: #7EFFFB;
}

button.type2:hover { /* the purple lights */
	box-shadow: 0px 0px 50px #C177FF,
	0px 0px 50px #C177FF inset;
	border: 4px solid #D8A9FF;
	color: #D8A9FF;
}

h1, h2, h3 {
	font-family: Monaco;
	padding: 15px;
	font-size: 3em;
}

h4, h5, h6 {
	font-family: Monaco;
}

h1.type1, h2.type1, h3.type1 {
	box-shadow: 0px 0px 50px #00E5DE,
	0px 0px 50px #00E5DE inset;
	border: 4px solid #7EFFFB;
	color: #7EFFFB;
}

h1.type2, h2.type2, h3.type2 {
	box-shadow: 0px 0px 50px #C177FF,
	0px 0px 50px #C177FF inset;
	border: 4px solid #D8A9FF;
	color: #D8A9FF;
}

.table-row {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: 15px;
}

.table-elt {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	padding: 25px;
	align-items: center;
	border: 4px solid #CCCCCC;
	color: #CCCCCC;
	font-family: Monaco;
}

.table-elt#type1 {
	width: 40%;
	height: 600px;
	justify-content: center;
}

.table-elt#type1 + .table-elt {
	align-items: flex-start;
	font-size: 1em;
	line-height: 25px;
	height: 600px;
}

.table-elt#type1:hover {
	box-shadow: 0px 0px 50px #00E5DE,
	0px 0px 10px #00E5DE inset;
	border: 4px solid #7EFFFB;
	color: #7EFFFB;
}

.table-elt#type1:hover h4, .table-elt#type2:hover p {
	color: #7EFFFB;
}

.table-elt#type2:hover {
	box-shadow: 0px 0px 50px #C177FF,
	0px 0px 10px #C177FF inset;
	border: 4px solid #D8A9FF;
	color: #D8A9FF;
}

.table-elt#type2:hover h4, .table-elt#type2:hover p {
	color: #D8A9FF;
}

h4 {
	text-align: center;
}

.homepage-banner {
	height: 400px; /* cool image in your face */
	/*width: 100%;*/
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-page { /* for everything below the navigation bar */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc1 {
	flex-direction: column;
	justify-content: flex-start;
	width: 90%;
	padding: 15px;
}

.desc2 {
	flex-direction: column;
	justify-content: flex-start;
	width: 90%;
	padding: 15px;
}

.desc1 p {
	color: #00D1CA;
	font-size: 1.1em;
	line-height: 25px;
}

.desc1 p em {
	font-family: Monaco;
	font-size: 1.1em;
	font-style: normal;
	color: #81FFFB;
}

.desc2 p {
	color: #C880FF;
	font-size: 1.1em;
	line-height: 25px;
}

.desc2 p em {
	font-family: Monaco;
	font-size: 1em;
	font-style: normal;
	color: #E1B8FF;
}

.navigation {
	height: 80px;
	justify-content: space-around;
}

.intro {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
}

.about-me {
	flex-direction: column;
	padding: 15px;
	align-items: flex-start;
	/*width: 70%;*/
}

.contact-me {
	flex-direction: column;
	width: 30%;
	align-items: center;
	border: 2px solid #CCCCCC;
}

.contact-me button {
	margin: 10px;
	height: 50px;
}
